<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Project</title>
    <link rel="stylesheet" href="demoProject/assets/style/style.css" inline/>
</head>
<body>
    <img src="demoProject/assets/images/bg.png" alt="" inline>
    <script src="demoProject/assets/scripts/main.js" inline></script>
</body>
</html>