<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Creative Ads | Template</title>

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.9.55/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="index.css" inline>
</head>

<body>

    <h1 class="top-header">ADS GALLERY</h1>

    <div class="main">

        <div class="filters isotop-header">

            <div class="ui-group custom-group">
                <h3 class="option-header">Format</h3>
                <select class="filter-select sl-item" value-group="format">
                    <option value="*">Default</option>
                    <option value=".animated">Animated</option>
                    <option value=".countdown">Countdown</option>
                    <option value=".drag">Drag</option>
                    <option value=".game">Game</option>
                    <option value=".gravity">Gravity</option>
                    <option value=".rotating">Rotating</option>
                    <option value=".scratch">Scratch</option>
                    <option value=".shake">Shake</option>
                    <option value=".speedTest">Speed Test</option>
                    <option value=".swipe">Swipe</option>
                    <option value=".tap">Tap</option>
                    <option value=".touch">Touch</option>
                    <option value=".slice">Slice</option>
                    <option value=".raining">Raining</option>
                    <option value=".slider">Slider</option>
                    <option value=".form">Form</option>
                </select>
            </div>

            <div class="ui-group custom-group">
                <h3 class="option-header">Brand Name</h3>
                <select class="filter-select sl-item" value-group="brand">
                    <option value="*">Default</option>
                    <option value=".anowers">Anowers</option>
                    <option value=".regal">Regal</option>
                    <option value=".bombaySweets">Bombay Sweets</option>
                    <option value=".vision">Vision</option>
                    <option value=".maggi">Maggi</option>
                    <option value=".altel">Altel</option>
                    <option value=".sharetrip">Sharetrip</option>
                    <option value=".gnr">G&R</option>
                </select>
            </div>

            <div class="ui-group custom-group">
                <h3 class="option-header">Size</h3>
                <select class="filter-select sl-item" value-group="size">
                    <option value="*">Default</option>
                    <option value=".300x250">300x250</option>
                    <option value=".336x280">336x280</option>
                    <option value=".250x250">250x250</option>
                    <option value=".200x200">200x200</option>
                    <option value=".320x100">320x100</option>
                    <option value=".320x50">320x50</option>
                    <option value=".160x600">160x600</option>
                    <option value=".300x600">300x600</option>
                    <option value=".480x320">480x320</option>
                    <option value=".468x60">468x60</option>
                    <option value=".728x90">728x90</option>
                    <option value=".970x90">970x90</option>
                    <option value=".970x250">970x250</option>
                </select>
            </div>

            <div class="refresh-area">
                <h3 class="option-header">Refresh</h3>
                <button class="refresh-btn">Reload</button>
            </div>
        </div>

        <!-- Size of Banner 300x250 -->
        <div class="wrapper">

            <div class="item 300x250 sharetrip animated countdown">
                <iframe src="demoProject/index.html" frameborder="0" scrolling="no" width="300" height="250"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>300x250</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <div class="item 300x250 sharetrip animated">
                <iframe src="c-balm/index.html" frameborder="0" scrolling="no" width="300" height="250" class="iframe"
                    title="Google Ad"></iframe>
                <div class="load">
                    <p>300x250</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <div class="item 300x250 sharetrip animated">
                <iframe src="ifter-countdown-4/index.html" frameborder="0" scrolling="no" width="300" height="250"
                    class="iframe" title="Google Ad"></iframe>


                <div class="load">
                    <p>300x250</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <div class="item 300x250 sharetrip animated slice">
                <iframe src="slicebox/index.html" frameborder="0" scrolling="no" width="300" height="250" class="iframe"
                    title="Google Ad"></iframe>
                <div class="load">
                    <p>300x250</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <div class="item 300x250 sharetrip animated raining">
                <iframe src="image-effect/index.html" frameborder="0" scrolling="no" width="300" height="250"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>300x250</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <div class="item 300x250 sharetrip animated scratch">
                <iframe src="image-effect-shareTrip/index.html" frameborder="0" scrolling="no" width="300" height="250"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>300x250</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <div class="item 300x250 sharetrip animated shake">
                <iframe src="image-kolsi-effect-sharetrip/index.html" frameborder="0" scrolling="no" width="300"
                    height="250" class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>300x250</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <div class="item 300x250 anowers animated shake">
                <iframe src="polymer-google-ad/index.html" frameborder="0" scrolling="no" width="300" height="250"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>300x250</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <div class="item 300x250 regal animated slider">
                <iframe src="regal-google-ad/index.html" frameborder="0" scrolling="no" width="300" height="250"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>300x250</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <div class="item 300x250 bombaySweets animated shake">
                <iframe src="animation-bannerr/index.html" frameborder="0" scrolling="no" width="300" height="250"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>300x250</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <div class="item 300x250 sharetrip animated">
                <iframe src="SemminerBanner/index.html" frameborder="0" scrolling="no" width="300" height="250"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>300x250</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <div class="item 300x250 vision animated shake">
                <iframe src="vision-freeze-main/index.html" frameborder="0" scrolling="no" width="300" height="250"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>300x250</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <div class="item 300x250 sharetrip animated scratch">
                <iframe src="c-image-effect-button/index.html" frameborder="0" scrolling="no" width="300" height="250"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>300x250</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <div class="item 300x250 sharetrip animated drag">
                <iframe src="dragg-item/index.html" frameborder="0" scrolling="no" width="300" height="250"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>300x250</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <div class="item 300x250 sharetrip animated form">
                <iframe src="gwd-form-on-click/index.html" frameborder="0" scrolling="no" width="300" height="250"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>300x250</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <div class="item 300x250 maggi animated scratch">
                <iframe src="scratch/index.html" frameborder="0" scrolling="no" width="300" height="250" class="iframe"
                    title="Google Ad"></iframe>
                <div class="load">
                    <p>300x250</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>


            <!-- Size of Banner 336x280 -->
            <!-- Size of Banner 250x250 -->
            <!-- Size of Banner 160x600 -->

            
            <!-- Size of Banner 300x600 -->

            <div class="item animated sharetrip 300x600">
                <iframe src="launchPad-slider-1/index.html" frameborder="0" scrolling="no" width="300" height="600"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>300x600</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <div class="item animated sharetrip 300x600">
                <iframe src="valentines-day/index.html" frameborder="0" scrolling="no" width="300" height="600"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>300x600</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <div class="item animated sharetrip 300x600">
                <iframe src="g-300x600-black-friday-sale/index.html" frameborder="0" scrolling="no" width="300"
                    height="600" class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>300x600</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <div class="item animated slider gnr 300x600">
                <iframe src="G&R-Banner/index.html" frameborder="0" scrolling="no" width="300" height="600"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>300x600</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <div class="item animated slice sharetrip 300x600">
                <iframe src="slice-product/index.html" frameborder="0" scrolling="no" width="300" height="600"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>300x600</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <div class="item animated rotating form sharetrip 300x600">
                <iframe src="card-rotate-form/index.html" frameborder="0" scrolling="no" width="300" height="600"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>300x600</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>


            <!-- Size of Banner 480x320 -->
            <div class="item animated slider sharetrip 480x320">
                <iframe src="slider-1/index.html" frameborder="0" scrolling="no" width="480" height="320" class="iframe"
                    title="Google Ad"></iframe>

                <div class="load">
                    <p>480x320</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>


            <!-- Size of Banner 728x90 -->
            <div class="item animated countdown sharetrip 728x90">
                <iframe src="ifter-countdown-1/index.html" frameborder="0" scrolling="no" width="728" height="90"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>728x90</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <div class="item animated countdown sharetrip 728x90">
                <iframe src="ifter-countdown-5-with-date-small/index.html" frameborder="0" scrolling="no" width="728"
                    height="90" class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>728x90</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <!-- Size of Banner 970x90 -->

            <div class="item animated vision 970x90">
                <iframe src="akash/index.html" frameborder="0" scrolling="no" width="970" height="90" class="iframe"
                    title="Google Ad"></iframe>
                <div class="load">
                    <p>970x90</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <!-- Size of Banner 970x250 -->

            <div class="item animated countdown sharetrip 970x250">
                <iframe src="ifter-countdown-5-with-date/index.html" frameborder="0" scrolling="no" width="970"
                    height="250" class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>970x90</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <div class="item animated countdown sharetrip 970x250">
                <iframe src="ifterCounter/index.html" frameborder="0" scrolling="no" width="970" height="250"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>970x90</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <div class="item animated sharetrip 300x831">
                <iframe src="popout-slider/index.html" frameborder="0" scrolling="no" width="300" height="831"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>300x831</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>


            <!------------ 
                GNR Ads
             -------------->
            <!-- Size of Banner 970x250 -->
            <div class="item slider 970x250 slider databird gnr">
                <iframe src="gnr/launchpad-970x250/index.html" frameborder="0" scrolling="no" width="970" height="250"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>970x250</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <!-- Size of Banner 728x90 -->
            <div class="item slider 728x90 slider databird gnr">
                <iframe src="gnr/launchpad-728x90/index.html" frameborder="0" scrolling="no" width="728" height="90"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>728x90</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <!-- Size of Banner 300x600 -->
            <div class="item slider 300x600 slider databird gnr">
                <iframe src="gnr/launchpad-300x600/index.html" frameborder="0" scrolling="no" width="300" height="600"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>300x600</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <!-- Size of Banner 160x600 -->
            <div class="item slider 160x600 slider databird gnr">
                <iframe src="gnr/launchpad-160x600/index.html" frameborder="0" scrolling="no" width="160" height="600"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>160x600</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <!-- Size of Banner 300x250 -->
            <div class="item slider 300x250 slider databird gnr">
                <iframe src="gnr/launchpad-300x250/index.html" frameborder="0" scrolling="no" width="300" height="250"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>300x250</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <!-- Size of Banner 336x280 -->
            <div class="item slider 336x280 slider databird gnr">
                <iframe src="gnr/launchpad-336x280/index.html" frameborder="0" scrolling="no" width="336" height="280"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>336x280</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <!-- Size of Banner 320x50 -->
            <div class="item slider 320x50 slider databird gnr">
                <iframe src="gnr/launchpad-320x50/index.html" frameborder="0" scrolling="no" width="320" height="50"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>320x50</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

            <!-- Size of Banner 300x50 -->
            <div class="item slider 300x50 slider databird gnr">
                <iframe src="gnr/launchpad-300x50/index.html" frameborder="0" scrolling="no" width="300" height="50"
                    class="iframe" title="Google Ad"></iframe>
                <div class="load">
                    <p>300x50</p>
                    <span class="mdi mdi-reload"></span>
                </div>
            </div>

        </div><!-- /wrapper -->
    </div><!-- /main -->


    <!-- Js Links -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

    <!-- Iframe Refresh Button -->
    <script>
        $('.load').on('click', function () {
            const iframe = $(this).siblings('iframe')
            const src = iframe.attr('src');
            iframe.attr({
                src: src
            });
        });
    </script>

    <!-- Isotope -->
    <script>
        // external js: isotope.pkgd.js

        // init Isotope
        var $grid = $('.wrapper').isotope({
            // layoutMode: 'fitColumns',
            itemSelector: '.item',
            masonry: {
                columnWidth: 1
            }
        });

        // store filter for each group
        var filters = {};

        $('.filters').on('change', function (event) {
            var $select = $(event.target);
            // get group key
            var filterGroup = $select.attr('value-group');
            // set filter for group
            filters[filterGroup] = event.target.value;
            // combine filters
            var filterValue = concatValues(filters);
            // set filter for Isotope
            $grid.isotope({
                filter: filterValue
            });
        });

        // flatten object by concatting values
        function concatValues(obj) {
            var value = '';
            for (var prop in obj) {
                value += obj[prop];
            }
            return value;
        }
    </script>

    <!-- Refresh Whole Page-->
    <script>
        $(document).ready(function () {
            $(".refresh-btn").click(function () {
                location.reload(true);
            });
        });
    </script>

</body>

</html>